{% extends 'profile_validate/base.html' %}
{% block content %}

{% load static %} {% load extras %}
<link rel="stylesheet" href="{% static 'css/basic.css' %}">
<script src="{% static 'basic.js' %}"></script>

<div><h5>승인 > 프로필 정보</h5></div>
<input type="button" value="새로고침" onClick="window.location.href='{% url 'basic' random=1 %}'">
<div><h5>{{ base_list.count }}</h5></div>
<div class="index"><h6>
    <pre class="subIndex">· 남자 {{ info|get_item:'male'|count }} (신규 {{ info|get_item:'male_new'|count }}/수정 {{ info|get_item:'male_edit'|count }}/기존 {{ info|get_item:'male_old'|count }}) </pre>
    <pre class="subIndex">· 여자 {{ info|get_item:'female'|count }} (신규 {{ info|get_item:'female_new'|count }}/수정 {{ info|get_item:'female_edit'|count }}/기존 {{ info|get_item:'female_old'|count }})</pre>
</h6></div>
<table class="table">
    <thead>
        <tr id="tableCols">
            <th class="shortCol" scope="col">분류</th>
            <th class="shortCol" scope="col">날짜</th>
            <th class="shortCol" scope="col">코드</th>
            <th class="midCol" scope="col">닉네임</th>
            <th class="midCol" scope="col">직업</th>
            <th class="longCol" scope="col">자기소개</th>
            <th class="longCol" scope="col">인터뷰1</th>
            <th class="longCol" scope="col">인터뷰2</th>
            <th class="longCol" scope="col">인터뷰3</th>
            <th class="midCol" scope="col"></th>
            <th class="midCol" scope="col"></th>
        </tr>
    </thead>
    <tbody id="profile_table">
        {% for info in total_list %}
            <tr class="simple">
                <td class="shortCol">
                    {% for status in base_list %}
                        {% if status.user == info.user.user %}
                            {% if status.flag == 0 %}
                                <pre>신규</pre>
                            {% elif status.flag == 3 %}
                                <pre>수정</pre>
                            {% elif status.flag == 4 %}
                                <pre>변경</pre>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <!-- UserProfile pk -->
                <td class="shortCol">{{ info.user.user.joined_time.month}}월 {{info.user.user.joined_time.day}}일</td>
                <td class="shortCol">{{ info.user.user.user }}</td>
                <td class="midCol check {{ info.user.pk }}" id="nick-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.user.nick }}</td>
                <td class="midCol check {{ info.user.pk }}" id="job-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.user.job }}</td>
                <td class="longCol check {{ info.user.pk }}" id="introduce-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.introduce | truncatechars:15 }}</td>
                <td class="longCol check {{ info.user.pk }}" id="holiday-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.holiday | truncatechars:15 }}</td>
                <td class="longCol check {{ info.user.pk }}" id="interest-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.interest | truncatechars:15 }}</td>
                <td class="longCol check {{ info.user.pk }}" id="trip-{{ info.user.pk }}" onclick="checkDenied({{ info.user.pk }}, this.id)">{{ info.trip | truncatechars:15 }}</td>
                <td class="shortCol"id="heading-{{ info.user.pk }}">
                    <button class="btn btn-link" data-toggle="collapse" \
                            data-target="#detail-{{ info.user.pk }}" aria-expanded="true" aria-controls="detail-{{ info.user.pk }}">
                    ▼
                    </button>
                </td>
                <td class="shortCol">
                    <div class="confirmShow" id="confirm-{{ info.user.pk }}">승인</div>
                    <div class="denyShow" id="denied-{{ info.user.pk }}" style="display: none">반려</div>
                </td>
            </tr>
            <tr id="detail-{{ info.user.pk }}" class="collapse" aria-labelledby="heading-{{ info.user.pk }}" data-parent="#profile_table">
                <td class="shortCol"></td>
                <td class="shortCol"></td>
                <td class="shortCol"></td>
                <td class="midCol"></td>
                <td class="midCol"></td>
                <td class="longCol">{{ info.introduce }}</td>
                <td class="longCol">{{ info.holiday }}</td>
                <td class="longCol">{{ info.interest }}</td>
                <td class="longCol">{{ info.trip }}</td>
                <td class="shortCol"></td>
                <td class="shortCol"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<footer>
    <div id="totalCount">
        <pre class="subCount_text">반려 </pre>
        <pre class="subCount_num" id="deniedCount"></pre>
        <pre class="subCount_text">/ 승인 </pre>
        <pre class="subCount_num" id="confirmCount"></pre>
        <form id="approve-form" action="{% url 'done' flag_type=0 %}" method=POST onsubmit="getCheck()">
            {% csrf_token %}
            <div class="myForm" style="display: none">{{ form.as_p }}</div>
            <button id="approve-btn" type="submit">완료</button>
        </form>
    </div>
</footer>

<script>
function getCheck() {
    var confirmCount = []
    var deniedCount = []

    $(".confirmShow:visible").each(function() {
                                    if (this.id) {
                                        confirmCount.push(this.id.split('-')[1]);
                                    }
                                });
    $(".denyShow:visible").each(function() {
                                if (this.id) {
                                    deniedCount.push(this.id.split('-')[1]);
                                    }
                                });

    if ($(".confirmShow:visible").length == 0) {
        confirmCount.push('-')
    }
    if ($(".denyShow:visible").length == 0) {
        deniedCount.push('-')
    }
    const confirmedList = confirmCount.join('-');
    const deniedList = deniedCount.join('-');
    document.getElementById('id_confirmed').value = confirmedList;
    document.getElementById('id_denied').value = deniedList;
    document.getElementById('approve-form').submit();
}
</script>

{% endblock %}